/Admin.class
/Course.class
/CourseDegree.class
/CourseResult.class
/DatabaseConnection.class
/Degree.class
/ListenerClass.class
/Queries.class
/Run$1.class
/Run.class
/School.class
/StartGUI$1.class
/StartGUI$2.class
/StartGUI$3.class
/StartGUI$4.class
/StartGUI$5.class
/StartGUI$6.class
/StartGUI.class
/Student.class
/StudentDegree.class
/Users.class
/Queries$1.class
/HashClass.class
/MainQueries.class
/MainQueries$1.class
/StudentQueries.class
/AddQueries.class
/ViewResultQueries.class
