/Admin.class
/Course.class
/CourseDegree.class
/CourseResult.class
/DatabaseConnection.class
/Degree.class
/Run.class
/School.class
/Student.class
/StudentDegree.class
/Users.class
/SystemTest.class
/AddQueriesTest.class
/MainQueriesTest.class
/QueriesTest.class
/StudentQueriesTest.class
/ViewResultTest.class
/AllTests.class
